* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    grid-area: header;
    background-color: blue ;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.navbar {
    background-color: rgb(0, 128, 255);
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.titulo {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer'
    ;
}

.left, .middle, .rigth {
    padding: 10px;
    height: 300px;
}

.left {
    grid-area: left;
    background-color: rgb(140, 159, 177);
}

.middle {
    grid-area: middle;
    background-color: rgb(159, 175, 190);
}

.rigth {
    grid-area: right;
    background-color: rgb(177, 191, 204);
}

.footer2 {
    grid-area: footer;
    background-color: blue;
    padding: 10px;
    text-align: center;
}


img {
    margin: 1px solid black;
}




.partedebaixo{
        display: grid;
        grid-template-areas: 
        'header2 header2 header2 header2 header2 header2'
        'left2 left2 middle2 middle2 right2 right2'
        'footer footer footer footer footer footer'
        ;
    
}

@media (max-width: 600px) {
    .titulo {
        grid-template-areas:
        
            'header header header header header header'
            'right right right right right right'
            'middle middle middle middle middle middle'
            'left left left left left left'
            
            /*'right2 right2 right2 right2 right2 right2'
            'middle2 middle2 middle2 middle2 middle2 middle2'
            'left2 left2 left2 left2 left2 left2'*/
            'footer2 footer2 footer2 footer2 footer2 footer2'
        ;
        ;

       
    }
}
